@media screen and (max-width: 768px) {
  /* #Header starts here */
  .custom-btn{

    width: 5rem;
  }
  .sidenav {
    padding-top: 15px;
   
   }
   .trends{
     display: none;
   }
   #other-posts, #my-articles{
    display: none;
  } 

  .grid-card{
   width: 100%;
  }
  
  .recent-articles{
    margin-left: 10px;
    margin-right: 40px;
  }
  
  
  .article-show,.article-h,.article-tail{
    width: 300px;
    }
  .commenter,.commenter-post,.art-text{
    width: 300px;
   }
  
   .custom-btn{
    border: none;
    outline: none;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-align: center;
  }
  .custom-margin{
    margin:5px;
  }
  .modal-buttons{ margin: 0px;}
  .share-article{
    width: 90%;
  }
  .share-article input{
    width: 150px;
  }
  
  .custom-header{
    font-size: 18px;
    margin-left: 25px;
    width: 100%;
  }
  .custom-btn{
    width: 100%;
  }
  .edit-article-area{
    margin-top: 10px;
    width: 270px;
    margin-left:20px;
    margin-right:20px;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: left;
    max-width: 500px;
    margin-top: 20px;
  }
  .custom-input{
    width: 300px;
    text-align: center;
  }
  .art-text{
     text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .global-head{font-size: 15px;}
  .time{
    display:none;
  }
  
 
  .sidenav .normal-link {
   font-size: 18px;
   text-transform: uppercase;
   color: #000000;
   }
   .empty{
     margin-top: 200px;
   }
   .btn-exc{
     width: 85%;
   }
   .btn-publish{
    width: 45%;
  }
  .btn-save{
    width: 60%;
  }
  .custom-input{
    margin-left: 10px;
    margin-right: 10px;
  }
  .tab{
    margin-left: 20px;
    margin-right: 20px;
  }
   .sidenav .post-article-btn{
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    user-select: none;
    display: inline-block;
    border: 2px solid transparent;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-image: none;
    transition: all .15s;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    color: #fff;
    background:#37a000;
    border-color: transparent;
    cursor: pointer;
    position: fixed;
}
.modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* 50% from the top and centered */
  width: 80%; 
  text-align: center;
}
.modal {width:100%;}

.centered-form{
  width: 90%;

}
.form-input-container{
    width:90%;
    height: 40px;
    margin-top: 30px;
}
   .art-btn-container{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1030;
    width: 100%;
    height: 80px;
    background-color: #f9f9f9;
    box-shadow: 0 -1px 6px 0 rgba(0,0,0,.3);
    text-align: center;
   }
   #navbar {
   display: none
  }
   #showcase {
    height: 100%;
    background: #2b5468;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    text-align: center;
  }
  #showcase .showcase-content {
    padding-top: 0px;
    margin-top: 80px;
    padding-bottom: 30px;
  }
  #showcase .showcase-content h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  #showcase .showcase-content p {
    font-size: 15px;
  }
  .bg-color {
    min-height: 460px;
    background: none;
  }
  /* #Article section begins here*/
  .search-input-container{
    width:280px;
    margin-left: 0px;
    margin-bottom: 10px;
    }
    .search-filter{
      display: flex;
      flex-direction: row;
    }
    .row{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }


    .right-gap{
      margin-right: 0px;
    }
    .grid-card-small{
      margin-left: 10px;
    }

  /* #Article ends here*/
}
@media screen and (min-width: 769px) {
    .right {
      display: none;
    }
    .grid-card-small{
      margin-left: 10px;
    }
    /* #Header ends here */

  }